.group_promotion {
    font-weight: bold;
    /*font-size: 12px;*/
}
.group_promotion .o_horizontal_separator {
    font-size: 14px;
}
.group_promotion .o_form_field_radio {
    margin-left: 10px;
}

.oe_promotion .o_horizontal_separator {
    color: #cd5c5c;
    font-size: 17px;
}
div.o_form_statusbar.oe_fixed_top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 500;
}
div.o_form_sheet_bg.oe_fixed_top_sheet {
    padding-top: 40px;
}